a, a:link
  cursor pointer

body
  padding-top 60px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom 30px

.avatar
  border-radius 50%
  width 150px
  height 150px

.pod-player
  padding-top 50px

.pod-pic
  margin-bottom 50px

cite
  font-style italic

cite:before
  content "-- "
  
article.post
  text-align justify
  
.nav-paginate-li
  display inline

.nav-paginate
  list-style-type none

.embed-video-container
    position relative
    padding-bottom 56.25% /* 16/9 ratio */
    padding-top 30px /* IE6 workaround*/
    height 0
    overflow hidden

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.jumbotron
  a:hover
    text-decoration none
    
.index-last-post-date,
.mobile-post-date
  font-style italic
  font-size 0.8em
  margin-bottom 15px
  
.index-last-post-title
  font-size 1.2em
  padding-top 10px
  margin-bottom 0
  
.external-link
  font-size 0.9em
  
.mobile-lists ul
  list-style-type none
  font-size 18px
  
#feedburner
  font-style italic
  font-size 0.1em
  color lightgrey
  
.pic
  width 25%
  margin 30px
  height auto
  
.pic-responsive
  width 100% !important
  
.center-text
  text-align center